<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DiskImageTool.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <DiskImageTool.My.MySettings>
            <setting name="WindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CreateBackups" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DragAndDrop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChangeLogETag" serializeAs="String">
                <value />
            </setting>
            <setting name="AppUpdateETag" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckUpdateOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayTitles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="GW_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="GW_Interface" serializeAs="String">
                <value />
            </setting>
            <setting name="GW_DriveType0" serializeAs="String">
                <value />
            </setting>
            <setting name="GW_DriveType1" serializeAs="String">
                <value />
            </setting>
            <setting name="GW_DriveType2" serializeAs="String">
                <value />
            </setting>
            <setting name="GW_Tracks0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GW_Tracks1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GW_Tracks2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GW_COMPort" serializeAs="String">
                <value />
            </setting>
            <setting name="GW_DefaultRevs" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="GW_LogFileName" serializeAs="String">
                <value>log.txt</value>
            </setting>
            <setting name="DTC_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="DTC_LogFileName" serializeAs="String">
                <value>log.txt</value>
            </setting>
        </DiskImageTool.My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
